/*CSS Document*/
@charset "utf-8";
*{margin:0; padding: 0;font-family: 'MicroSoft Yahei';}
a{text-decoration: none;}
.banner{width: 1200px; height: 460px; margin: 100px auto; position: relative;}
/*banner图片区*/
.banner .banner_img a{display: none; width: 1200px; height: 460px;}
.banner .banner_img .banner_active{display: block;}
.banner_sub{cursor: pointer;width: 140px; height: 14px; position: absolute; bottom: 20px; right: 0;}
.banner_sub span{ display: inline-block; width: 14px; height: 14px; border-radius: 50%; background:#333;margin-right:15px; position: relative;top:-4px; box-shadow: 0 0 0 2px #fff inset;}
.banner_sub .on{background:#fff; box-shadow: 0 0 0 2px #666 inset;}
.banner_list{width: 245px; height: 460px; background:rgba(102,102,102,0.4);position: absolute;top: 0;left: 0;}
.banner_list ul{width: 245px;height:265px;list-style: none;margin-top: 6px;}
.banner_list ul li{width: 245px;height:64px;border-bottom:1px solid rgba(255,255,255,0.3); line-height: 64px;text-indent: 2em;}
.banner_list ul li a{color: #fff}
.banner_list ul li:nth-child(4){border: none;}
.banner_list ul .list_active{background: rgba(0,0,0,.15)}
.sub_list{z-index: 3;}
.sub_list{width: 732px;height: 458px;background: url(../img/fe.png) no-repeat; position: absolute;top: 0;left: 245px;border: 1px solid #ccc;display: none;}
.sub_list .title{font-weight: bold;font-size: 18px;color: red;}
.sub_list dl{font-weight: bold;font-size: 18px; line-height: 48px;height: 48px;}
.sub_list dl dt{float: left;}
 .sub_list dl dd{text-indent:1em; color:#666;}
.sub_list dl dd a{font-weight: normal;font-size: 16px; color: black;}
.sub_list dl dd a:hover{color:red;}
.banner .button{height: 80px;width: 40px;position: absolute;left:245px;top:50%;margin-top:-40px;background:url(../img/arrow.png) no-repeat center center;}
.banner .button:hover{background-color: #333;opacity: 0.8;filter: alpha(opacity=80);}
.banner .button_2{right: 0;left: auto;}
.banner .button_1{transform: rotate(180deg);}



