@charset "utf-8";
/* CSS Document */
*{margin:0; padding: 0; font-family: "Microsoft Yahei";}
a{text-decoration: none;}
.box{width: 100%;height: auto;}
.title{font-size: 42px; font-weight: bold;}
.sub_title{font-size: 16px;}

.screen_1{background: url(../img/sc1.jpg) no-repeat;height: 640px;width: 100%; background-size:cover; position: relative; }
header{height: 60px; width: 100%; background:linear-gradient(to bottom,#000,rgba(255,255,255,0));}
.header_down{background: rgba(255,255,255,0.6);position:fixed;z-index: 3;}
.header_down .logo{color: black;}
.header_down .header_nav a{color:black;}
.header_down .header_nav a:nth-child(6){color: #fff;}
header .logo{color:#fff;font-size: 18px;height: 40px;width: 150px;line-height: 40px;background: url(../img/logo.png) no-repeat left center; text-indent: 52px; position: absolute;top:10px; left:10px; font-weight: bold;}
header .header_nav{height: 40px; position: absolute;top:10px; right:30px; text-align: center;}
header .header_nav a{color:#fff; display:inline-block; line-height: 40px; margin-left: 36px;font-size: 14px;}
header .header_nav .study{ width: 96px; background: #f01400; border-radius: 5px;}
header .nav_active{border-bottom: 2px solid #ff0000;font-weight: bold;}
.wrap{ width: 1200px; margin: 0 auto;text-align: center;position: relative;}
.screen_1_title{ width: 350px; margin: 0 auto;padding-top: 170px;color: #fff;font-size: 42px; font-weight: bold;}
.screen_1_sub_title {line-height: 68px;color: #fff;font-size: 16px;}
/*.header_nav_subline{width: 56px;height: 2px;background: red;position: relative;top:-2px;left: 36px;}*/
/*第二屏*/
.screen_2{width: 100%;height: 640px;background-color:#f3f5f7; text-align: center; overflow: hidden;}
.screen_2_title{height: 116px;line-height: 116px;padding-top: 52px;font-size: 42px; font-weight: bold;}
.screen_2_sub_title {line-height: 21px;color: #000;height: 21px;margin-top: 22px;font-size: 16px;}
.screen_2_title span{border-bottom:3px solid #ff0000;height: 116px;line-height: 116px;display:inline-block;}
.screen_2_sec{width:750px; height: 361px; background: url(../img/sc2.png) no-repeat;margin:0 auto; margin-top: 68px; z-index: 0;position: absolute;left: 50%; margin-left:-375px; }
.screen_2_sec_1{width:275px; height: 380px; background: url(../img/sc2-1.png) no-repeat;margin:0 auto; margin-top: 49px; z-index: 2;position: absolute;position: absolute;left: 50%; margin-left:-137.5px;}
.screen_2_sec_2{width:266px; height: 205px; background: url(../img/sc2-2.png) no-repeat;margin:0 auto; margin-top: 124px; z-index: 1;position: absolute;position: absolute;left: 50%; margin-left:-32px;}
/*第三屏*/
.screen_3{width: 100%;height: 640px;background-color:#2b333b; text-align:left;color: #fff;position: relative;}
.screen_3 .wrap_1{width: 885px; position: absolute;right:0px;}
.screen_3_title{height: 96px;line-height: 96px;padding-top: 196px; font-size: 34px;}
.screen_3_sub_title {line-height: 21px;color: #fff;height: 21px;margin-top: 26px;}
.screen_3_title span{border-bottom:3px solid #ff0000;height: 96px;line-height: 96px;display:inline-block;}
.screen_3_sec_1{width:308px; height: 340px; background: url(../img/sc3.png) no-repeat;position: absolute;z-index: 1;top:150px;left: 131px;}
.screen_3_sec_2{width: 600px;height: 64px;position: absolute;top:526px;left:16px;}
.screen_3_sec_2 span{height: 56px;width: 56px;border-radius: 50%;display: inline-block;font-size: 9px;text-align: center;line-height: 56px;margin-right:32px; }
.screen_3_sec_2 span:nth-child(1){ border:4px solid #1f5975; color:#02b0f2;}
.screen_3_sec_2 span:nth-child(2){ border:4px solid #424d76; color:#787dcc;}
.screen_3_sec_2 span:nth-child(3){ border:4px solid #6b4146; color:#ff6060;}
.screen_3_sec_2 span:nth-child(4){ border:4px solid #29535f; color:#22aba5;}
.screen_3_sec_2 span:nth-child(5){ border:4px solid #3e4e40; color:#76bd50;}
/*第四屏*/
.screen_4{width: 100%;height: 640px;background-color:#f3f5f7; text-align:center;}
.screen_4_title{height: 116px;line-height: 116px;padding-top: 52px;font-size: 40PX;font-size: 42px; font-weight: bold;}
.screen_4_sub_title {line-height: 21px;color: #000;height: 21px;margin-top: 22px;font-size: 16px;}
.screen_4_title span{border-bottom:3px solid #ff0000;height: 116px;line-height: 116px;display:inline-block;}
.screen_4_sec_1{width:175px; height: 160px; background: url(../img/sc4-1.png) no-repeat;position: absolute;top:290px;left: 131px;}
.screen_4_sec_2{width:175px; height: 160px; background: url(../img/sc4-2.png) no-repeat;position: absolute;top:290px;left: 431px;}
.screen_4_sec_3{width:175px; height: 160px; background: url(../img/sc4-3.png) no-repeat;position: absolute;top:290px;left: 731px;}
.screen_4_sec_4{width:175px; height: 160px; background: url(../img/sc4-4.png) no-repeat;position: absolute;top:290px;left: 1031px;}
.screen_4 p{position: relative;top:95px;right: 50px}
/*第五屏*/
.screen_5{width: 100%;height: 640px;background-color:#f3f5f7; text-align:center; background: url(../img/sc5.jpg) no-repeat; background-size:cover; color:#fff;}
.screen_5_sec{width: 200px;height: 200px;background: url(../img/sc5-1.png) no-repeat; margin: 0 auto; position: relative;top:100px;}
.screen_5_title{height: 104px;width:100%;line-height: 104px;padding-top: 130px;font-size: 42px; font-weight: bold;}
.screen_5_title span{border-bottom:3px solid #fff;height: 104px;line-height: 104px;display:inline-block;}
.screen_5_sub_title {line-height: 21px;height: 21px;margin-top: 28px;font-size: 16px;}
/*继续了解学习体验*/
article{height: 200px;width: 100%;background: #fff;}
article .continue{width: 238px;height: 58px;margin:0 auto;border:1px solid black;text-align: center;line-height: 58px;position: relative;top:70px;border-radius: 3px;font-size: 18px;cursor:pointer; }
article .continue a{color:#000;}
article .continue:hover a{color:blue;}
article .continue:hover{background: yellow;}
/*页脚*/
footer{height: 106px;width: 100%;background: #000;color: #fff;font-family:Arial;}
footer ul{margin-left:200px;list-style: none;}
footer li a{float: left;margin-left: 35px;font-size: 14px;padding-top: 8px;text-align: center;color:#fff;}
footer li a:hover{color:red;}
footer .wrap{font-family: Arial;padding-top: 20px;}

